:root {
  --section-bgc: #f8fafc;
  --header-underline-bgc: #94a3b8;
  --add-entry-bgc: #6366f1;
  --entry-bgc: #6366f1;
}

.section-container {
  display: flex;
  flex-flow: column;
  background-color: var(--section-bgc);
  border-radius: 25px;
  padding: 25px;
}

.card-header {
  cursor: pointer;
  position: relative;
  padding: 0;
  border: none;
  background-color: inherit;
  border-radius: 25px;
  text-align: left;
  min-width: 225px;
}

.entry-container {
  display: flex;
  flex-flow: column;
  border-radius: 25px;
  border: 3px solid var(--header-underline-bgc);
}

.add-container {
  border: none;
  background-color: var(--add-entry-bgc);
  color: var(--section-bgc);
}

.entry-header,
.add-entry {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  background-color: inherit;
  min-width: 100%;
  font-weight: 500;
}

.add-entry {
  background-color: var(--add-entry-bgc);
  color: var(--section-bgc);
  border-radius: 25px;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.entries-container {
  margin-top: 20px;
  flex-flow: column;
  gap: 25px;
}

h2 {
  position: relative;
}

h2::after {
  position: absolute;
  left: 0;
  bottom: -7px;
  z-index: 99;
  content: "";
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  background-color: var(--header-underline-bgc);
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
}

h2:hover::after {
  transform: scaleX(1);
}

.underline::after {
  transform: scaleX(1);
}
