@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

:root {
  --body-bgc: #e2e8f0;
}

.app-container {
  height: 100vh;
  background-color: var(--body-bgc);
  display: flex;
  gap: 25px;
  padding: 25px;
}
