@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

:root {
  --body-bgc: #e2e8f0;
}

.app-container {
  min-height: 100vh;
  background-color: var(--body-bgc);
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  padding: 25px;
}

@media only screen and (max-width: 1200px) {
  .app-container {
    flex-flow: column;
  }
}
